{% extends "base/base.html" %}

{% block content %}
{% if request.user.is_authenticated %}
<style>
  body {
    margin: 0;
    padding: 0;
    background: url('/static/imagen/nfl-logo.jpg') no-repeat center center fixed;
    background-size: auto;
}
</style>
{% else %}
<div class="container text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit" class="btn btn-outline-success" style="border-radius: 10px;">LogIn</button>
    </form>
  <br><hr><br>
    <p>
      Si no tienes una cuenta
          <br>
      Registrate!
      <br>
  </p>
    <a href="{% url 'home:signup' %}" class="btn btn-outline-primary" style="border-radius: 10px;">SignUp</a>
  </div>
  {% endif %}
{% endblock content %}